<div fxLayout="column">
  <div>
    <h1> Buscador de Héroes</h1>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>Buscador</h3>
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Introduce heroe</mat-label>
      <input type="text"
             placeholder="Batman"
             aria-label="heroe"
             matInput
             [(ngModel)] = "textSearch"
             [matAutocomplete]="auto"
             (input)="searching()">
      <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="heroeSelection($event)">
        <mat-option
            *ngFor="let heroe of heroesSuggestions"
            [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>
        <mat-option value="" *ngIf="heroesSuggestions.length === 0 && textSearch.trim().length > 0">
          No se encontró nada con el término {{ textSearch }}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </div>
</div>
